.logo {
	 float: left;
}
 nav {
	 float: right;
}
 nav ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: linear-gradient(to right, #E2BCBB, #E4514A);
	 color: #fff;
}
 a {
	 color: #0a0a00
}
 h1 {
	 color: #290f28
}
 p {
	text-align: center;
	 color: #e6ede6
}
 ol {
	 color: #011001
}
html {

		background-image: linear-gradient(to right, #E2BCBB, #E4514A);
		
		background-repeat: no-repeat;
		
		background-position: center center;
		
		background-attachment: fixed;
		
		-webkit-background-size: cover;
		
		-moz-background-size: cover;
		
		-o-background-size: cover;
		
		background-size: cover;
		
		}
.main {
	position: absolute;
    top: 100px;
    left: 250px;
}
.box {
	margin-left: 50px;

}